# Handling Imbalanced Dataset

In [14]:
import numpy as np
import pandas as pd

#  Set the random seed for reproducibility
np.random.seed(123)
# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [16]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [17]:
df.tail()

     feature_1  feature_2  target
995   1.376371   2.845701       1
996   2.239810   0.880077       1
997   1.131760   1.640703       1
998   2.902006   0.390305       1
999   2.697490   2.013570       1

In [18]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## Up Sampling

In [19]:
df_min=df[df['target']==1]
df_maj=df[df['target']==0]

In [21]:
from sklearn.utils import resample
df_min_upsampled=resample(df_min,replace=True,n_samples=len(df_maj),random_state=42)

In [23]:
df_min_upsampled.head()

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1

In [24]:
df_upsampled=pd.concat([df_maj,df_min_upsampled])

In [26]:
df_upsampled.value_counts()

feature_1  feature_2  target
 1.005190   1.110089  1         19
 1.915470   1.652041  1         18
 3.701608   2.160889  1         18
 3.013493   2.047240  1         16
 2.902006   0.390305  1         16
                                ..
-0.335011  -0.419641  0          1
-0.332475  -0.840879  0          1
-0.331128  -0.528401  0          1
-0.326518  -0.183332  0          1
 0.104061   0.454284  0          1
Name: count, Length: 1000, dtype: int64

## Down Sampling

In [27]:
import numpy as np
import pandas as pd

#  Set the random seed for reproducibility
np.random.seed(123)
# Create a dataframe with two classes
n_samples = 1000
class_0_ratio = 0.9
n_class_0 = int(n_samples*class_0_ratio)
n_class_1 = n_samples-n_class_0
## CREATE MY DATAFRAME WITH IMBALANCED DATASET
class_0 = pd.DataFrame({
    'feature_1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature_2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target': [0] * n_class_0
})

class_1 = pd.DataFrame({
    'feature_1': np.random.normal(loc=2, scale=1, size=n_class_1),
    'feature_2': np.random.normal(loc=2, scale=1, size=n_class_1),
    'target': [1] * n_class_1
})

In [28]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [29]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

In [30]:
df_min=df[df['target']==1]
df_maj=df[df['target']==0]

In [32]:
from sklearn.utils import resample
df_maj_downsampled=resample(df_min,n_samples=len(df_min),random_state=42)

In [33]:
df_maj_downsampled

     feature_1  feature_2  target
951   1.125854   1.843917       1
992   2.196570   1.397425       1
914   1.932170   2.998053       1
971   2.272825   3.034197       1
960   2.870056   1.550485       1
..         ...        ...     ...
984   1.712216   1.346491       1
979   0.868043   2.309863       1
981   2.408626   3.242017       1
952   1.188902   2.189189       1
923   1.495417   3.190354       1

[100 rows x 3 columns]

In [34]:
df_downsampled=pd.concat([df_min,df_maj_downsampled])

In [36]:
df_downsampled.target.value_counts()

target
1    200
Name: count, dtype: int64